
*,
::after,
::before {
    -webkit-box-sizing: border-box;
            box-sizing: border-box
}

body {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 18px;
    overflow-x: hidden;
    background: #F9F9F9;
}



@media only screen and (max-width: 400px) {
    .dog-img {
        opacity: 0;
    }
}

@media only screen and (min-width: 400px) and (max-width: 980px) {
    .dog-img {
        opacity: 0;
    }
}

.skills {
    text-align: right;
    /* Right-align text */
    padding: 10px;
    /* Add some padding */
    color: white;
    /* White text color */
}

.html {
    width: 90%;
background: linear-gradient(90deg, #2C88CB 0%, #62BDFF 100%);
border-radius: 20px;
}

/* Green */
.css {
    width: 80%;
background: linear-gradient(90deg, #2C88CB 0%, #62BDFF 100%);
border-radius: 20px;
}

/* Blue */
.js {
    width: 65%;
 background: linear-gradient(90deg, #2C88CB 0%, #62BDFF 100%);
 border-radius: 20px;
}

.barking {
    width: 65%;
    background: linear-gradient(90deg, #2C88CB 0%, #62BDFF 100%);
    border-radius: 20px;
}

.tail-waving {
    width: 65%;
    background: linear-gradient(90deg, #2C88CB 0%, #62BDFF 100%);
    border-radius: 20px;
}

.patience {
    width: 65%;
    background: linear-gradient(90deg, #2C88CB 0%, #62BDFF 100%);
    border-radius: 20px;
}


/* Dark Grey */

.border-right{
    border: 100px black solid;
    margin: 100px;
}

a{
    color: white;
}

a:hover{
    color: white;
}

.skills-hard, .skills-soft{
    background: white;
}

.container-fluid{
    margin: 0px;
    padding: 0px;

}
.row {
    margin: 0px;
}
.let-me-know{
    padding: 15px;
    width: 100%;
    text-align: center;
    background: white;
}

.about-me{
    background: white;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    
    font-size: 18px;
   
}


.content{
    text-align: justify;
    margin: 0 auto;
    background: #F9F9F9;
 
}

.about{
 
    background: white;
}

.contact-but{
    margin: 20px;
}

.btn-primary {
    display: inline-block;
    width: 200px;
    font-weight: bold;
    justify-content: center;
    font-size: 18px;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    height: 50px;
    background: #2C88CB;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.let-me-know .check-but{
    color: #2C88CB;
    background: white;
}

.let-me-know .check-but a{
        color: #2C88CB;
}

.let-me-know .contact-but:hover {
    color: white;
    background: #FDC32F;
    border: 1px solid transparent;
}

.let-me-know .check-but:hover {
    color: #FDC32F;
    border: 1px solid #FDC32F;
}


.header {
    background: url("../../assets/header-photo.jpg") center / cover no-repeat;
}

.my-content {
    border-right: 2px solid #2C88CB;
}

.left-header {
    background: rgba(255, 255, 255, 0.75);
    margin: 0px;
    padding: 40px;
}

.text-hi {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-left: 10%;
    margin-top: 10%;

}


/* Stylowanie tekstu w lewym nagłówku */
.text-hi h1 {
    font-size: 96px;
    font-weight: bold;
    line-height: 120px;
}

.text-hi h2 {
    font-size: 28px;
    font-weight: bold;
    line-height: 80px;
}

.text-hi span {
    color: #2C88CB;
}

.text-hi p {
    line-height: 10px;
}

.right-header {
    background: rgba(44, 136, 203, 0.97);
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: end;
        align-content: flex-end;
}

.dog-img {
    position: absolute;
    z-index: 100;
    background: #ffffff url("../../assets/dog-logo.jpg") center/ cover no-repeat;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 6% 48%;
    -webkit-box-shadow: 5px 6px 4px  rgba(0, 0, 0, 0.20);
            box-shadow: 5px 6px 4px  rgba(0, 0, 0, 0.20);
}


/* Nawigacja w górnym prawym rogu */
.top-menu {
    color: white;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
z-index: 5;
    height: 33%;

}
.details{
    font-weight: bold;
}
.one-third {
    padding: 30px 50px 10px;
    font-size: 18px;
    display: block;
}

.top-menu ul{
    list-style: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    font-weight: bold;
    justify-self: space-between;
}

.top-menu ul li{
    -webkit-box-flex: 1;
        -ms-flex: 1 1 1;
            flex: 1 1 1;
    margin: 20px;
}

.hello-world {
   
    
    z-index: 2;
    -webkit-box-flex: 1;
  
        -ms-flex: 1 1 auto;
  
            flex: 1 1 auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    justify-self: center;
    width: 100%;
    height: 50%;
    grid-gap: 10px;
    font-weight: bold;
    line-height: 66px;
    font-size: 72px;
    
     
      color: #3797DC;
}

.hello-world .box{
    -webkit-box-flex: 3;
        -ms-flex: 3 300px auto;
            flex: 3 300px auto;
    width: 100px;
}

.bot-menu {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 3;
        -ms-flex: 3 200px auto;
            flex: 3 200px auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    color: white;
    text-align: right;
}
h6{
    margin: 20px 25px 0px 0px;
}

.bot-menu i{
    border-radius: 50%;
    border: 5px solid white;
    font-size: 24px;
    text-align: center;
    width: 34px;
    height: 34px;
    background-color: white;
    margin: 20px;
    color: #2C88CB;
}

.bot-menu .xxx{
    color: white;
    background-color: #2C88CB;
}


