*,
::after,
::before {
    -webkit-box-sizing: border-box;
            box-sizing: border-box
}

body {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 18px;
    overflow-x: hidden;
    background: #F9F9F9;
}

.text-hi span {
    color: #2C88CB;
}

.text-hi p {
    line-height: 20px;
}

figure img{
    width: 400px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
}

.box {
    position: relative;
}
.box:after {
    content: "";
    /* Set the element as full-size */
    position: absolute;
    left: 0;
    top: 0;
    width: 400px;
    height: 300px;
    /* Set bg and hide the element + animation */
    background-color: #000;
    opacity: 0;
    transition: all 0.2s ease 0s;
}

.box:hover:after {
    /* Show the overlay on hover */
    opacity: 0.5;
}
.box a{
    text-decoration: none;
    font-weight: bold;
    line-height: normal;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0.08em;
    text-align: center;
}
.descript {
    color: blue;
    z-index: 1000;
    top: 0px;
    left: 0px;
    opacity: 0;
    height: 300px;
    width: 400px;
    position: absolute;
    padding: 25%;

}
.descript:hover {
    color: white;
    opacity: 1;
}
.descript:after {
    opacity: 1;
}

figure figcaption span{
    margin: 20px;
    padding: 0px;
}

.image-class {
    max-width: 400px;
    background: white;
    padding: 0px;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.image-class p{
    padding: 0px 20px 20px 20px;
}

.image-class h2{
    margin: 0px;
    padding: 0px;
    color: blue;
    
}

.description-paragraph {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    letter-spacing: 0.02em;

    color: #A0A0A0;
}

.photo-link-address {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
    letter-spacing: 0.02em;

    color: #2C88CB;

}

@media only screen and (max-width: 576px) {
    .dog-img {
        opacity: 0;
    }
    .hello-world{
        opacity: 0;
        height: 0px;
    }
    .header {
        height: 50%;
    }
    
}

@media only screen and (min-width: 576px) and (max-width: 992px) {
    .dog-img {
        opacity: 0;
    }
    .hello-world {
        opacity: 0;
        height: 0px;
    }
}

@media only screen and (min-width: 992px) {
.hello-world {
    position: relative;
    min-height: 300px;
}
.text-hi h1 {
    font-size: 96px;
    font-weight: bold;
    line-height: 120px;
}
.image-class{
    margin: 10px;
}
.text-hi h2 {
    font-size: 28px;
    font-weight: bold;
    line-height: 80px;
}
/* Letters */
.letter {
    position: absolute;
    z-index: 500000;
    font-weight: bold;
    font-size: 60px;
}
    #H1 {left: 30%; top: 8%;}
    #e1 {left: 42%; top: 15%;}
    #l1 {left: 54%; top: 22%;}
    #l2 {left: 66%; top: 29%;}
    #o1 {left: 78%; top: 36%;}
    #w1 {left: 30%; top: 28%;}
    #o2 {left: 42%; top: 35%;}
    #r1 {left: 54%; top: 42%;}
    #l3 {left: 66%; top: 49%;}
    #d1 {left: 78%; top: 56%;}
}

.skills {
    text-align: right;
    /* Right-align text */
    padding: 10px;
    /* Add some padding */
    color: white;
    /* White text color */
}


/* Skills Percentage */
input[type=range] {
    -webkit-appearance: none;
    -moz-apperance: none;
    width: 75%;
    border-radius: 20px;
    height: 10px;
}

.skills-hard p,
.skills-soft p {
    
    margin: 0% 81% 0% 13%;

}
#input-html {
    background-image: -webkit-gradient(linear,
    left top,
    right top,
    color-stop(80%, #E7E7E7),
    color-stop(80%, #E7E7E7));

    background-image: -webkit-linear-gradient(left, transparent 0%, 
    #2C88CB 0%, #62BDFF 80%,
    #E7E7E7 80%, #E7E7E7 100%, transparent 100%);

    background-image: -moz-linear-gradient(left center,
    #2C88CB 0%, #62BDFF 80%,
    #E7E7E7 80%,
    #E7E7E7 100%);
}
#input-css {
    background-image: -webkit-gradient(linear,
        left top,
        right top,
        color-stop(80%, #E7E7E7),
        color-stop(80%, #E7E7E7));
    
    background-image: -webkit-linear-gradient(left, transparent 0%,
    #2C88CB 0%, #62BDFF 80%,
    #E7E7E7 80%, #E7E7E7 100%, transparent 100%);

    background-image: -moz-linear-gradient(left center,
    #2C88CB 0%, #62BDFF 80%,
    #E7E7E7 80%,
    #E7E7E7 100%);
}
#input-js {
    background-image: -webkit-gradient(linear,
        left top,
        right top,
        color-stop(55%, #E7E7E7),
        color-stop(55%, #E7E7E7));

    background-image: -webkit-linear-gradient(left, transparent 0%,
        #2C88CB 0%, #62BDFF 55%,
        #E7E7E7 55%, #E7E7E7 100%, transparent 100%);

    background-image: -moz-linear-gradient(left center,
        #2C88CB 0%, #62BDFF 55%,
        #E7E7E7 55%,
        #E7E7E7 100%);
}
#input-barking {
    background-image: -webkit-gradient(linear,
        left top,
        right top,
        color-stop(100%, #E7E7E7),
        color-stop(100%, #E7E7E7));

    background-image: -webkit-linear-gradient(left, transparent 0%,
        #2C88CB 0%, #62BDFF 100%,
        #E7E7E7 100%, #E7E7E7 100%, transparent 100%);

    background-image: -moz-linear-gradient(left center,
        #2C88CB 0%, #62BDFF 100%,
        #E7E7E7 100%,
        #E7E7E7 100%);
}
#input-tail-waving {
    background-image: -webkit-gradient(linear,
        left top,
        right top,
        color-stop(75%, #E7E7E7),
        color-stop(75%, #E7E7E7));

    background-image: -webkit-linear-gradient(left, transparent 0%,
        #2C88CB 0%, #62BDFF 75%,
        #E7E7E7 75%, #E7E7E7 100%, transparent 100%);

    background-image: -moz-linear-gradient(left center,
        #2C88CB 0%, #62BDFF 75%,
        #E7E7E7 75%,
        #E7E7E7 100%);
}
#input-patience {
    background-image: -webkit-gradient(linear,
        left top,
        right top,
        color-stop(50%, #E7E7E7),
        color-stop(50%, #E7E7E7));

    background-image: -webkit-linear-gradient(left, transparent 0%,
        #2C88CB 0%, #62BDFF 50%,
        #E7E7E7 50%, #E7E7E7 100%, transparent 100%);

    background-image: -moz-linear-gradient(left center,
        #2C88CB 0%, #62BDFF 50%,
        #E7E7E7 50%,
        #E7E7E7 100%);
}
#gallery {
    background: #f9f9f9;
}
input.disabled {
    pointer-events: none;
}

input[type="range"]::-moz-range-track {
    border: none;
    background: none;
    outline: none;
}

input[type=range]:focus {
    outline: none;
    border: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: linear-gradient(90deg, #2C88CB 0%, #62BDFF 100%);
    height: 13px;
    width: 13px;
    border-radius: 50%;
}


input[type=range]::-moz-range-thumb {
    -moz-appearance: none !important;
    background-color: linear-gradient(90deg, #2C88CB 0%, #62BDFF 100%);
    border: none;
    height: 13px;
    width: 13px;
    border-radius: 50%;
}

.border-right{
    border: 100px black solid;
    margin: 100px;
    
}

.box a{
    color: white;
}

.box a:hover{
    color: white;
}

.skills-hard, .skills-soft{
    background: white;
    padding: 40px;
    margin: 20px;
    justify-content: center;
    text-align:center;
    overflow: hidden;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
}

.useful-links-text header{
    width: 30%;
    display: inline-flex;
    flex-direction: column-reverse;
    padding-bottom: 5px;
    border-bottom:1px solid white;
}

.skills-hard h1,
.skills-soft h1 {
    margin-bottom: 40px;
}

.container-fluid{
    margin: 0px;
    padding: 0px;

}
.row {
    margin: 0px;
}
.let-me-know{
    padding: 15px;
    width: 100%;
    text-align: center;
    background: white;
}

.about {
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
}

.about-me{
    background: white;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    font-size: 18px;
}
.about-details {
    font-weight: bold;
    line-height: 29px;
    font-size: 18px;
    letter-spacing: 0.02em;
}


.about-text {
    font-style: normal;
    font-weight: normal;
    line-height: 31px;
    font-size: 18px;
    letter-spacing: 0.04em;
    color: #222222;

}

.content{
    text-align: justify;
    margin: 0 auto;
    background: #F9F9F9;
 
}

.about{
 
    background: white;
}

.contact-but{
    margin: 20px;
}

.btn-primary {
    display: inline-block;
    width: 200px;
    font-weight: bold;
    justify-content: center;
    font-size: 18px;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    height: 50px;
    border: 1px solid #2C88CB;
    background: #2C88CB;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.let-me-know .check-but{
    color: #2C88CB;
    background: white;
}

.let-me-know .check-but a{
        color: #2C88CB;
}

.let-me-know .contact-but:hover {
    color: white;
    background: #FDC32F;
    border: 1px solid transparent;
}

.let-me-know .check-but:hover {
    color: #FDC32F;
    border: 1px solid #FDC32F;
}


.header {
    background: url("../../assets/header-photo.jpg") center / cover no-repeat;
}

.right-border {
    position: absolute;
    top: 10%;
    right: 0px;
    width:1px;
    height: 80%;
    border-right: 1px solid #2C88CB;
}

.left-header {
    background: rgba(255, 255, 255, 0.75);
    margin: 0px;
    padding: 40px;
}

.text-hi {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-left: 10%;
    margin-top: 10%;

}

.right-header {
    background: rgba(44, 136, 203, 0.97);
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: end;
        align-content: flex-end;
}

.dog-img {
    position: absolute;
    z-index: 100;
    background: #ffffff url("../../assets/dog-logo.jpg") center/ cover no-repeat;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 6% 48%;
    -webkit-box-shadow: 5px 6px 4px  rgba(0, 0, 0, 0.20);
            box-shadow: 5px 6px 4px  rgba(0, 0, 0, 0.20);
}


/* Nawigacja w górnym prawym rogu */
.top-menu {
    display: flex;
    color: white;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
z-index: 5;
    height: 33%;

}

.top-menu a{
    color: white;
}

.details{
    font-weight: bold;
}
.one-third {
    padding: 30px 50px 10px;
    font-size: 18px;
    display: block;
}

.top-menu ul{
    list-style: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    font-weight: bold;
    justify-content: space-between;
    margin: 15px 10px 15px 0px;
}

.top-menu ul li{
    -webkit-box-flex: 1;
        -ms-flex: 1 1 1;
            flex: 1 1 1;
 
}

.hello-world {
   
    position: relative;
    
    z-index: 2;
    -webkit-box-flex: 1;
  
        -ms-flex: 1 1 auto;
  
            flex: 1 1 auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    justify-self: center;
    width: 100%;
    height: 50%;
    grid-gap: 10px;
  
    
     
      color: #3797DC;
}


.hello-world .box{
    -webkit-box-flex: 3;
        -ms-flex: 3 300px auto;
            flex: 3 300px auto;
    width: 100px;
}

.bot-menu {
    margin-right: 20px;
    z-index: 5;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 3;
        -ms-flex: 3 200px auto;
            flex: 3 200px auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    color: white;
    text-align: right;
}

h6{
    z-index: 1;
    margin: 20px 25px 0px 0px;
}

.bot-menu i, .left-side-contact .useful-links i{
    z-index: 1;
    border-radius: 50%;
    padding: 5px;
    font-size: 24px;
    text-align: center;
    width: 34px;
    height: 34px;
    background-color: white;
    margin: 20px 0px 20px 20px;
    color: #2C88CB;
}

.bot-menu i:hover,
.left-side-contact .useful-links i:hover {
    background-color: #FDC32F;
    color: white;
}

/* Kontakt */
.contact {
    padding: 40px;
    background: white;
    font-weight: normal;
    line-height: 25px;
    font-size: 18px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.left-side-contact {
    padding: 20px 30px;
    background: #2C88CB;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.left-side-contact .line {
    margin-top: 40px;
    width: 35%;
    display: inline-flex;
    border-bottom:1px solid white;
}

.left-side-contact .first-text {
    margin: 50px 0px 0px 0px;
}

.left-side-contact .second-text {
    margin: 40px 0px 0px 0px;
}

.left-side-contact .address {
    margin-top: 100px;
    margin-bottom: 30px;
    display: block;
    width: 50%;
}

.left-side-contact .address span {
    font-weight: bold;
}

.left-side-contact .useful-links {
    flex: 1 1 1;
    width: 100%;
}

.left-side-contact .useful-links i {
    align-self: flex-start;
    margin: 15px 15px 0px 0px;
    padding-bottom: 5px;
}

.right-side-contact {
    color: #2C88CB;
    padding: 20px 60px;
    background: #F9F9F9;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.right-side-contact h1{
    font-weight: bold;
    line-height: normal;
    font-size: 32px;
    padding: 50px 0px;
}

.right-side-contact input{
    border: none;
    background: none;
    border-bottom: 1px solid #2C88CB;
    font-style: normal;
    font-weight: normal;
    line-height: 25px;
    font-size: 18px;
    color: #A0A0A0;

}

#inputMessage {
    margin-top: 100px;
}

.submit-contact {
    float: right;
}

.submit-contact:hover {
    color: white;
    background: #FDC32F;
    border: 1px solid transparent;
}